body{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: #221F20;
}

.logo{
    width: 50px;
    height: 50px;
}

nav{
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

i{
    font-size: 1.5rem;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #85827f;
}

.gif{
    height: 234px;
    width: 100%;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.attributes{
    display: flex;
    flex-direction: column;

}

header {
    position: relative; /* add this to ensure that the section is positioned relative to the entire page */
    
}

.quotes > h2{
    font-size: 1.25rem;
}

.quotes > h3{
    font-size: 0.87rem;
}

.quotes{
    height: 234px;
    color: #CDB69E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 0.8em;
    
}

.quotes h3{
    color: white;
    font-family: 'Caveat', cursive;
}

.quotes hr {
    height: 4px;
    width: 110px;
    border: none;
    background: #85827f;
}

.main{
    height: 612px;
    background-color:#E8DDD1;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service{
    color: black;
    font-size: 1.125rem;
    font-weight: bold;
    border-bottom: 3px solid #85827F;
    margin-top: 45px;
    margin-bottom: 17px;
}

.manuel{
    font-size: 0.75rem;
    width: 260px;
    color: black;
    font-weight: bold;
}

.large{
    font-size: 6rem;
}

h5{
    margin: 10px;
    border-bottom: 3px solid white;
    padding: 0;
    letter-spacing: 0.1em;
    cursor: pointer;
}

a{
    background-color: black;
    font-weight: bold;
    padding: 7px 17px;
    letter-spacing: 0.1em;
    margin-top: 33px;
    text-decoration: none;
    color: white;

}

h1{
    margin: 10px 0px;
}