body{
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 109px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background: white;
    z-index: 999;
}

.first {
    display: flex;
    gap: 3px;
    margin-left: 1em;
}

.secound{
    display: flex;
    gap: 1em;
}

h4 {
    margin: 0.5em ;
    font-size: 2.2rem;
    
}

h5{
    font-size: 2.3rem;
}

h1{
    font-size: 6rem;
}

p{
    font-size: 2.5rem;
}

.logo {
    width: 70px; 
    height: 70px;   
}

.hero-image {
    height: 840px;
    position: relative;
    width: 980px;
    margin-top: 109px;
}

.title {
    position: absolute;
    left: 0;
    top: 16.8em;
    margin-left: 3em;
    color: white;
}



.hero, .content {
    margin: 0 2em;
}


.content img{
    width: 100%;
    
}

.view{
    font-size: 2.5rem;
    font-weight: bolder;
    border-bottom: 4px solid black;
    display: block;
    text-align: center;
    margin: 2em auto;
    max-width: 200px;
    margin-bottom: 350px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #202020 ;
    height: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p{
    margin: 0;
}

.copy{
    color: #d7d7d788;
}