html, body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    font-family: 'Inter', sans-serif;
}

.header-img{
    width: 100%;
    position: relative;
    height: 36vh;
}

.header-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 14vh;
    left: 0;
    right: 0;
    margin: 0px 46px;
}

.search-field{
    background-color: #2E2E2F;
    border: none;
    padding: 9px 40px;
    width: 50vw;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
    color: #A5A5A5;

}

.search-btn{
    background-color: #4B4B4B;
    color: white;
    border: none;
    width: 120px;
    padding: 9px 13px;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.search {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    

}

.search-icon{
    position: absolute;
    left: 15px;
    top: 10px;
}

.placeholder-search h4{
    color: #2E2E2F;
    margin-top: 8.75px;
}

.placeholder-search {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    text-align: center;
}
#feed{
    display: flex;
    flex-direction: column;
    gap: 21px;    
    position: absolute;
    top: 43%;
    left: 6%;
}

.poster{
    width: 15vw;
    margin-right: 20px;
}

.hide{
    display: none;
}

.row{
    display: flex;
}

.row h5,h3,h6{
    margin: 8px 0px;
}

h6{
    margin-bottom: 0px;
    margin-top: 14px;
}

.row img{
    height: 15px;
    width: 15px;
    
}

.plot{
    color:#A5A5A5;
    margin-top: 11px;
    max-width: 400px;
}

.first{
    gap: 10px;
}
.first img{
    margin-top: 11px;
}

.rating{
    display: flex;
    gap: 2px;
}

.secound{
    gap: 18px;
}

.secound img{
    margin-top: 7px;
}
                           
.watchlist{
    display: flex;
    gap: 4px;
}

.movie{
    display: flex;

}